.boxContent{
    display:flex;
}
.boxVitrine{
    width:90vw;
    height: 348px;
    display:flex;
    column-gap: 4vw;
    overflow-x: scroll;
}
@media (min-width:840px){
    .boxContent{
        display:flex;
        align-items: center;
        width:70%;
    }
    .boxVitrine{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        gap:1vw;
        padding:0;
    }
}