@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/**************--------------HEADER--------------**************/
body{
  font-family: 'Inter';
  margin:0;
  padding:0;
}
header{
  background-color:#F5F5F5 ;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  height:18.88vh;
  margin:0;
  padding:0;
 
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2vh;
}
header span{
  display:flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  width:90vw;
  background-color: white;
  border-radius: 8px;
}
header input{
  border:none;
  outline:none;
}
header input::placeholder{
  padding-left:4px;
}
header button{
  height:30px;
  width: 107px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #27AE60 ;
  color: #ffff;
  outline: none;
  cursor:pointer;
  margin-right: 5px;
  border:none;
  
}
@media (min-width:840px){
  header{
    height: 80px;
  }
  header div{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
    width:90%;
    margin: 0 auto;
  }
  header span{
    width:30%;
    height: 50px;
    border-radius: 8px;
  }
  header button{
    height:30px;
    border-radius: 8px;
  }
  header input {
    height:97%;
    outline:none;
    border-radius: 8px;
  }
  .mainContainer{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    width:90vw;
    margin: 0 auto;
  }
}